<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>Your Simple Scheduler</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- styles -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/datetimepicker/jquery.datetimepicker.css') }}">
<!-- scripts -->
<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/datetimepicker/jquery.datetimepicker.js') }}"></script>
</head>
<body>
    <div class="container">
        <h2>Hi {{ username }}</h2> 
        {% if message != None %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        {% if user_type == 'client' %}
            {% if specialist == None %}
                Let's get you scheduled for this month! Please name your specialist.
                <form action="{{ url_for('VisualView:post') }}" method="post">
                    <div class="form-group">
                        <label for="specialist">Specialist</label>
                        <input type="text" class="form-control" name="specialist" placeholder="specialist name">
                    </div>
                    <input type="hidden" name="username" value="{{ username }}">
                    <input type="hidden" name="user-type" value="client">
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            {% else %}
                {% if events|length == 0 %}
                    <div class="alert alert-warning" role="alert">
                        It seems your specialist has no events. Please contact him/her
                        with our patented can-and-string system to get some free time
                        set up on their calendar.
                    </div>
                {% elif booked_event != None %}
                    You have a meeting booked for {{ event.nice_starttime }} with {{ specialist }}
                    <form action="{{ url_for('VisualView:delete_event') }}" method="post">
                        <input type="hidden" name="username" value="{{ username }}">
                        <input type="hidden" name="starttime" value="{{ event.starttime }}">
                        <input type="hidden" name="user-type" value="client">
                        <button type="submit" class="btn btn-danger">Delete this meeting</button>
                    </form>
                {% else %}
                    <h3>Openings with your specialist:</h3>
                    <ul>
                    {% for event in events %}
                        <li>
                        <form action="{{ url_for('VisualView:add_client_to_event') }}" method="post">
                            Appointment at {{ event.nice_starttime }}
                            <input type="hidden" name="username" value="{{ username }}">
                            <input type="hidden" name="specialist" value="{{ specialist }}">
                            <input type="hidden" name="starttime" value="{{ event.starttime }}">
                            <button type="submit" class="btn btn-info">Select this time</button>
                        </form>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        {% else %}
            <h3>Your current schedule:</h3>
            <ul>
                {% for event in events %}
                    <li>
                    <form action="{{ url_for('VisualView:delete_event') }}" method="post">
                        Appointment with {{ event.partner }} at {{ event.nice_starttime }}
                        <input type="hidden" name="username" value="{{ username }}">
                        <input type="hidden" name="starttime" value="{{ event.starttime }}">
                        <input type="hidden" name="user-type" value="specialist">
                        <button type="submit" class="btn btn-danger">Delete this meeting</button>
                    </form>
                    </li>
                {% endfor %}
            </ul>
            <h3>Add time</h3>
            <form action="{{ url_for('VisualView:new_event') }}" method="post">
                <div class="form-group">
                    <!-- TODO: This is mean that we display a raw number, but UI is hard -->
                    <label for="event-time">Meeting time</label>
                    <input type="text" class="form-control" name="event-time" placeholder="meeting time"
                        id="datetimepicker_unixtime">
                    <script type="text/javascript">
                        jQuery('#datetimepicker_unixtime').datetimepicker({
                          format:'unixtime'
                          });
                    </script>
                </div>
                <input type="hidden" name="username" value="{{ username }}">
                <input type="hidden" name="user-type" value="specialist">
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        {% endif %}
    </div>
  </body>
</html>
